---
layout: mylayout.njk
pagination:
    data: articles.data
    size: 1
    alias: article
permalink: "articles/{{ article.id | slug }}/"
---

<div id="article-wrapper">
  <h1 id="article-title">{{ article.attributes.title}}</h1>
  <div id="article-content">{{ article.attributes.content | safe }}</div>
</div>